# Global
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.env
.env.local

# Python
.venv/
__pycache__/
*.pyc

# Node/Next.js (Frontend)
Frontend/web/node_modules/
Frontend/web/.next/
Frontend/web/.turbo/
Frontend/web/.vercel/
Frontend/web/out/
Frontend/web/dist/
Frontend/web/build/

# Lockfiles (optional, keep if you want deterministic builds)
# package-lock.json
yarn.lock
pnpm-lock.yaml

# Misc
coverage/


Backend/node_modules/
Backend/storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_0.json
Backend/storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_1.json
Backend/storage/request_queues/default/__metadata__.json
Backend/storage/request_queues/default/__metadata__.json
Backend/storage/request_queues/default/fiqb761erUOW7Mz.json
Backend/storage/request_queues/default/M3mDQE5hzsbJgYO.json
Backend/storage/key_value_stores/default/SDK_SESSION_POOL_STATE.json
Backend/storage/request_queues/default/ZujEFNrFOGh88oK.json
Backend/storage/key_value_stores/default/SDK_CRAWLER_STATISTICS_2.json
